#hamburger {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 4;
  height: 40px;
  width: 40px;
  overflow: hidden;
}

@keyframes menu-slide-in {
  0% {
    right: -100px;
  }
  100% {
    right: 0px;
  }
}

#hamburger:hover {
  overflow: visible;
}

#hamburger:hover #menu-back {
  animation: menu-slide-in 1s;
  animation-fill-mode: both;
}

#hamburger-symbol {
  position: absolute;
  top: 10px;
  right: 10px;
}

.ham-line {
  height: 4px;
  width: 22px;
  border-radius: 4px;
  background-color: teal;
  margin-bottom: 4px;
}

#menu-back {
  background-color: white;
  height: 150px;
  width: 100px;
  position: absolute;
  top: 40px;
  right: -100px;
  z-index: 3;
}

#menu a{
  text-align: right;
  display: block;
  margin: 10px;
}

#carousel {
  width: 1000px;
  height: 600px;
  overflow: hidden;
  margin: 0px auto;
  margin-top: 50px;
}

#carousel:hover #picture-holder {
  animation-play-state: paused;
}

@keyframes swipe-off {
  0% {
    transform: translateX(0px);
  }
  17% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(-1020px);
  }
  37% {
    transform: translateX(-1020px);
  }
  40% {
    transform: translateX(-2040px);
  }
  57% {
    transform: translateX(-2040px);
  }
  60% {
    transform: translateX(-3060px);
  }
  77% {
    transform: translateX(-3060px);
  }
  80% {
    transform: translateX(-4080px);
  }
  97% {
    transform: translateX(-4080px);
  }
  100% {
    transform: translateX(0px);
  }
}

#picture-holder {
  width: 1000px;
  height: 600px;
  display: flex;
  animation: swipe-off 12s 1s infinite linear;
}

.img-box {
  position: relative;
  align-self: center;
  margin: 10px;
}

.img-box:hover p {
  display: block;
  width: 300px;
}

.img-box:hover img {
  opacity: 0.5;
}

.img-box p {
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 2;
  display: none;
}
