#carousel {
  width: 1000px;
  height: 600px;
  overflow: hidden;
}

#carousel:hover #picture-holder {
  animation-play-state: paused;
}

@keyframes swipe-off {
  0% {
    transform: translateX(0px);
  }
  17% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(-1020px);
  }
  37% {
    transform: translateX(-1020px);
  }
  40% {
    transform: translateX(-2040px);
  }
  57% {
    transform: translateX(-2040px);
  }
  60% {
    transform: translateX(-3060px);
  }
  77% {
    transform: translateX(-3060px);
  }
  80% {
    transform: translateX(-4080px);
  }
  97% {
    transform: translateX(-4080px);
  }
  100% {
    transform: translateX(0px);
  }
}

#picture-holder {
  width: 1000px;
  height: 600px;
  display: flex;
  animation: swipe-off 12s 1s infinite linear;
}

.img-box {
  position: relative;
  align-self: center;
  margin: 10px;
}

.img-box:hover p {
  display: block;
  width: 300px;
}

.img-box:hover img {
  opacity: 0.5;
}

.img-box p {
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 2;
  display: none;
}
